body{
	font-family: 'Roboto', sans-serif;
	background-color: white;
	background-size: cover;
	background-position: center;
}

h1{
	color: black;
	text-shadow: 0px 4px 3px white;
	letter-spacing: 3px;
	font-size: 30px;
}

iframe{
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

hr {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	background-color:rgb(250,250,250);
	opacity: 0.5;
}

br{
	margin-top:20px;
	margin-bottom: 20px;
}

.container{
	width: 100%;
	position: absolute;
}

.navbar-inverse{
	z-index: 99999;
	position: fixed;
	top:0;
	width: 100%;
	border-color: rgb(202, 179, 136);
	border-bottom-width: 2px;
	background-color: black;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 2px rgb(10, 10, 10);
}

.navbar-inverse .navbar-brand {
	font-family: 'Roboto', sans-serif;
	color: rgb(230, 230, 230);
	font-size: 20px;
}

.container>.navbar-collapse, .container>.navbar-header {
	margin-right: -16px;
	margin-left: -16px;
}

.topHead{
	text-align: center;
	font-weight: bold;
	font-family: 'Staatliches', sans-serif;
	font-size: 65px;
	letter-spacing: 4px;
	margin-top: 80px;
	padding-bottom: 20px;
	text-shadow: 0px 3px 4px rgb(202, 179, 136);
}

.aboutIntro{
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 40px;
	padding-bottom: 20px;
	color: black;
	font-size: 20px;
}

.bioName{
	font-size: 80px;
	color: black;
	font-family: 'Staatliches', sans-serif;
	text-shadow: 0 3 4 rgb(202, 179, 136);
	letter-spacing: 3px;
	display: block;
	text-align: center;
	padding-left: 300px;
}

.bioInfo{
	display: block;
	color:black;
	margin-right: 90px;
	margin-bottom: 40px;
}

.bioPic{
	float: left;
	padding-left: 200px;
	padding-right: 20px;
}

.Copyright{
	float:left;
}

.Social{
	float: right;
	padding-right: 16px;
}

.page-footer{
	border-top: 2px solid;
	background-color: black;
	height: 40px;
	padding-top: 5px;
	width: 100%;
	border-color: rgb(202, 179, 136);
	color: white;
}