body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	background-size: cover;
	width: 100%;
}

h1 {
	color: black;
	text-shadow: 0px 4px 3px white;
	letter-spacing: 3px;
	font-size: 30px;
}

iframe {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

hr {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	background-color:rgb(250,250,250);
	opacity: 0.5;
}

.navbar-inverse {
    z-index: 99999;
    position: fixed;
    top:0;
    width: 100%;
    border-bottom: 2px solid rgb(202, 179, 136);
    background-color: black;
    border-radius: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgb(202, 179, 136)
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: gray;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 1px 2px rgb(10, 10, 10);
}

.navbar-inverse .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
}

.navbar-inverse .navbar-brand:hover {
    color: gray;

}

.topHead {
	text-align: center;
	font-weight: bold;
	font-family: 'Staatliches', sans-serif;
	font-size: 65px;
	letter-spacing: 4px;
	margin-top: 80px;
	padding-bottom: 20px;
	text-shadow: 0px 3px 4px rgb(202, 179, 136);
}

.aboutIntro {
	padding-top: 40px;
	padding-bottom: 20px;
	color: black;
	font-size: 20px;
}

#bio {
	color:black;
	text-align: center;
}

.bioName{
	font-family: 'Staatliches', sans-serif;
	font-size: 80px;
	text-shadow: 0px 3px 4px rgb(202, 179, 136);
	letter-spacing: 3px;
	display: block;
	padding-bottom: 10px;
}

.bioInfo {
	display: block;
	color: black;
}

.bioPic {
	margin: 0 auto;
	float: left;
	padding-right: 20px;
	padding-bottom: 60px;
}

.flex-container {
    display: flex;
    flex-direction: row;
	width: 114%;
	position: relative;
	right:70px;
	height: 50px;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    border-top: 2px solid rgb(202, 179, 136);
    padding-left: 14px;
    padding-right: 14px;
	margin: 0 auto;

}

@media screen and (max-width: 600px) {

	iframe {
		width: 375px;
		height: 250px;
		padding-right: 4px;
	}

	p {
		margin: 4px 0px;
	}

	.aboutIntro {
		font-size: 16px;
	}

	#bio {
		display: flex;
		flex-direction: column;
	}

	.bioName {
		font-size: 40px;
		margin: 0 auto;
	}

	.bioPic {
		padding-bottom: 10px;
		margin: 0 auto;
		height: 300px;
		padding-left: 12px;
	}

	.bioInfo {
		margin: 0 auto;
		padding-top: 4px;
	}

	.flex-container {
		font-size: 10px;
		margin: 0 0 0 44px;
		position: relative;
	}
}

@media (min-width: 1200px) {
	.flex-container {
		width: 114%;
		position: relative;
		right:70px;
	}
}