/**
* This is the CSS file that will contain all of the styles, themes, and all the same.
* @author: Brandon Phillips
* @author: Jordan Brown
* @version: Feb 10, 2019
*
**/

body {
	font-family: 'Roboto', sans-serif;
	background: rgb(28, 28, 28);
	color: white;
	font-size: 16px;
	background-size: cover;
	background-position: center;
}

html {
	height: 100%;
	box-sizing: border-box;
}

h1 {
	font-size: 54px;
	padding-top: 70px;
	margin-bottom: 10px;
}

hr {
	margin: 20px;
	border: 0;
	border-top: 1px solid rgb(202, 179, 136);
	width: 95%;
}

/* Add in smooth hover effect in JS */
.scrollButton > a {
	transition: color 0.5s ease;
	color: rgb(10, 110, 110);
}

.scrollButton > a:hover {
	color: rgb(40, 40, 40);
}

.description {
	margin: 40px;
}

.navbar-inverse {
	z-index: 99999;
	position: fixed;
	top:0;
	width: 100%;
	border-bottom: 2px solid rgb(202, 179, 136);
	background-color: black;
	border-radius: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: rgb(202, 179, 136)
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: gray;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 1px 2px rgb(10, 10, 10);
}

.navbar-inverse .navbar-brand {
    font-family: 'Roboto', sans-serif;
	color:white;
    font-size: 20px;
}

.navbar-inverse .navbar-brand:hover {
	color: gray;
}

.landingPage {
	font-family: 'Staatliches', sans-serif;
	text-transform: uppercase;
	letter-spacing: 14px;
	text-shadow: 0 4px 3px black;
	background-image: url(https://i.imgur.com/wuoDQ0A.jpg);
	color: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}


.landingDiv {
	font-family: 'Staatliches', sans-serif;
	font-size: 40px;
	text-shadow: 0 4px 3px black;
	text-align: center;
	letter-spacing: 6px;
	margin-top: -10px;
}

.thumbnail {
	width: 100%;
	margin-top: 10px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
	color: white;
	border-top: 2px solid rgb(202, 179, 136);
	padding-left: 14px;
	padding-right: 14px;
}

@media screen and (max-width: 1280px) {
	a.scroll {
		color: white;
		position: relative;
		top: 4em;
		font-size: 50px;
	}

	h1.landingDiv{
		font-size: 70px;
		letter-spacing: 12px;
	}
}


/*Adjust landscape mode-- figure something
out for down arrow in landscape. When applied to landscape,
it affects all sizes.*/

@media screen and (max-width: 1280px) {
	.landingDiv {
		margin: -45px 4px 0 4px;
		font-size: 60px;
	}
}

@media screen and (max-width: 991px) {
	h1 {
		font-size: 40px;
	}

	.landingDiv {
		margin: -45px 4px 0 4px;
		font-size: 60px;
	}
}


@media screen and (max-width: 860px) {
	h1 {
		font-size: 35px;
	}

	.landingDiv {
		margin: -45px 4px 0 4px;
		font-size: 50px;
	}
}

@media screen and (max-width: 697px) {
	.flex-container {
		font-size: 10px;
		text-align: center;
	}
	.description {
		margin: 20px;
	}

	a.scroll {
		visibility: hidden;
	}

	.landingDiv {
		margin: -45px 4px 0 4px;
		font-size: 50px;
	}

	h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 480px) {
	hr {
		width: 90%;
	}

	.landingDiv {
		font-size: 40px;
	}
}

@media screen and (orientation: landscape) {
	h1 {
		padding-top: 80px
	}
}

@media screen and (orientation: portrait) {
	h1 {
		padding-top: 80px;
		font-size: 32px;
	}
}