/**
* This is the CSS file that will contain all of the styles, themes, and all the same.
* @author: Brandon Phillips
* @author: Jordan Brown
* @version: Feb 10, 2019
*
**/
body {
	font-family: 'Roboto', sans-serif;
	background: rgb(28, 28, 28);
	color: white;
	font-size: 16px;
	background-size: cover;
	background-position: center;
}

html {
	height: 100%;

}

hr {
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid rgb(202, 179, 136);
	width: 95%;
}

p {
	max-width: 600px;
	margin: 0 auto 20px;
}

.navbar-inverse {
	z-index: 99999;
	position: fixed;
	top:0;
	width: 100%;
	border-bottom: 2px solid rgb(202, 179, 136);
	background-color: black;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: rgb(202, 179, 136)
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: gray;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 1px 2px rgb(10, 10, 10);
}

.navbar-inverse .navbar-brand {
    font-family: 'Roboto', sans-serif;
	color:white;
    font-size: 20px;
}

.navbar-inverse .navbar-brand:hover {
	color: gray;
}

.landingPage {
	font-family: 'Staatliches', sans-serif;
	text-transform: uppercase;
	letter-spacing: 14px;
	text-shadow: 0 4px 3px black;
	background-image: url(https://i.imgur.com/wuoDQ0A.jpg);
	color: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.h1, h1 {
	font-size:2em;
}

.landingDiv {
	font-family: 'Staatliches', sans-serif;
	font-size: 7vw;
	text-shadow: 0px 4px 3px black;
	text-align: center;
	letter-spacing: 6px;
}

.thumbnail {
	width: 100%;
	margin-top: 10px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
	color: white;
	border-top: 2px solid rgb(202, 179, 136);
	padding-left: 14px;
	padding-right: 14px;
}

@media screen and (max-width: 600px) {
	.flex-container {
		font-size: 10px;
	}