body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color:black;
    position: center;
}



.navbar-inverse{
    z-index: 99999;
    position: fixed;
    top:0;
    width: 100%;
    border-color: rgb(202, 179, 136);
    border-bottom-width: 2px;
    background-color: black;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgb(10, 10, 10);
}

.navbar-inverse .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 230, 230);
    font-size: 20px;
}

.container>.navbar-collapse, .container>.navbar-header {
    margin-right: -16px;
    margin-left: -16px;

.page-footer{
    border-top: 2px solid;
    background-color: black;
    height: 40px;
    padding-top: 5px;
    width: 100%;
    border-color: rgb(202, 179, 136);
    color: white;
}

.Copyright{
    float:left;
}

.Social{
    float: right;
    padding-right: 16px;
}